body,
html {
  background-color: #f6f9fc;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow-x: hidden;
}

@include media-breakpoint-up(350) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

#div-title,
#div-footer {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.9), 0px 8px 13px rgba(0, 0, 0, 0.9),
    0px 18px 23px rgba(0, 0, 0, 0.9);
}

nav {
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0;
}

iframe {
  width: 80%;
  border: 0;
  overflow: hidden;
}

#about-header {
  height: 200px;
  background: url('./img/flex.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  margin-top: 90px;
}

#plan-header {
  height: 400px;
  background: url('./img/back.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  margin-top: 90px;
}

#mobile-img {
  padding-top: 40%;
}

#plan {
  /* background: url('./img/plan_logoV2.png')no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  border-bottom: 1px #eee solid;
  margin-top: 90px;
}

#page-header {
  height: 200px;
  background: url('./img/back.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  margin-top: 90px;
}

#dash-header {
  height: 250px;
  background: url('./img/dash.jpg');
  background-position: center -200px;
  background-size: contain;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  margin-top: 90px;
}

#dash {
  opacity: 0.9;
}

#about img {
  margin-top: -50px;
  margin-left: 20%;
  width: 60%;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.card-form {
  opacity: 0.8;
}

.card {
  border: #444;
}

#plan-list a {
  color: black;
}

#faq .card a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

.nav-link {
  border: 0;
  color: #888;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ddd !important;
}

.nav-item.active {
  border-left: #444 3px solid;
}

#head {
  font-size: 40px;
}

#icons {
  font-size: 4em;
}

#footer {
  padding-top: 3%;
}

#ig a {
  font-size: 1.6em;
}

#ig a:hover {
  color: #517fa4 !important;
}

#fb a {
  font-size: 1.6em;
}

#fb a:hover {
  color: #3b5998 !important;
}

#tw a {
  font-size: 1.6em;
}

#tw a:hover {
  color: #00aced !important;
}

.mb-0,
h1 {
  text-align: center;
}

.container-fluid {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.Checkout {
  margin: 0 auto;
  max-width: 80%;
  box-sizing: border-box;
  padding: 0 5px;
}

#planlist {
  opacity: 0.8;
}

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url('./img/main.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  height: 100vh;
  color: white;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#premo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url('./img/flex2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center 8px;
  height: 50vh;
  color: white;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* #home-inner {
  margin-top: 10%;
} */

#training {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url('./img/trainingV3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 50vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
}

#mid {
  margin-bottom: 0px;
  text-align: center;
}

#id {
  text-align: center;
}

.col-lg-6 {
  padding-bottom: 0;
}

#client {
  color: black;
  background-color: white;
}

.form-control-lg {
  width: 100%;
}
/* * {
  box-sizing: border-box;
} */

.modal-content {
  text-align: center;
}

h2 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 30px;
  margin: 20px 0;
  padding: 0;
}

.Checkout {
  margin: 0 auto;
  /* max-width: 800px; */
  box-sizing: border-box;
  padding: 0 5px;
}

label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
  width: 100%;
}

#login-button,
button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  /* color: #fff; */
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  /* background-color: #6772e5; */
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

form {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid #e6ebf1;
}

#id-button,
button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.PaymentRequestButton {
  padding: 0;
}
