

td, .truncate {
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}

.selected-row{
    background-color: #008ed6 !important;
    color:white;
}

.selected-row:hover {
    background-color: #008ed6;
}

.react-bootstrap-table {
    overflow-x: auto;
    
    
    .table-mobile{
        table-layout: auto !important;
    }
}