

td, .truncate {
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}

.selected-row{
    background-color: #008ed6 !important;
    color:white;
}

.selected-row:hover {
    background-color: #008ed6;
}

.react-bootstrap-table {
    overflow-x: auto;
    border-radius: 10px;
    
    
    .table-mobile{
        table-layout: auto !important;
    }

    td{
        touch-action: manipulation;
    }
}

.schedule-col{
    .meal-card{
        // border-radius: 10px;
        background-color: #eff0f2;
    }
}

.no-meals-badge{
    .badge{
        display: inline-block;
        padding: .25em .4em;
        font-size: 50%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: normal;
        vertical-align: baseline;
        border-radius: .25rem;
    }
}

.btn-toolbar {
    display: block;
    
    .btn-group{
        display: inherit;

        h5{
            margin:0;
        }
    }
}

.nutrition-btn{
    background-image: linear-gradient( to bottom right, rgba(236, 33, 103, 1), rgba(244, 123, 40, 1));
}

.tab-nav {
    .nav-link {
        // background-image: linear-gradient( to bottom right, rgba(236, 33, 103, 1), rgba(244, 123, 40, 1));
    }
}

.list-group {
    .meal-item {
        text-align: center;
        font-size: 16px;
    }
}