

.sidebar-col{
  // .list-group-item{
  //   width: 100%;
  // }
  padding: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  .nav-link{
    color: white !important;
    
  }

  .nav-links{

    .active {
      // background-color: 
      background-image: linear-gradient( to right , rgba(244, 123, 40, .3), rgba(241, 97, 74, .3));
      border-radius: 15px;
      color: white !important;
    }
  }

  .fprCaL, .hiaJXm{
    position: inherit;
  }

  .eQeaZq {
    width: auto;
  }
}
