.plan-wall{
    overflow-y: auto;
    max-height: 200px;
    border-radius: 20px;
    background-color: black;

    .active{
        border: 5px solid #343a40;
    }

    form{
        .form-check-input {
            position: initial !important;
            margin: 0 !important;
        }
    }
}

.form-check-input {
    position: initial ;
    margin: 0 ;
}

.react-calendar {
    width: 100% !important;
}