.plan-wall{
    overflow-y: auto;
    max-height: 200px;
    border-radius: 20px;
    background-color: lightgray;

    .active{
        border: 5px solid #343a40;
    }

    form{
        .form-check-input {
            position: initial !important;
            margin: 0 !important;
        }
    }
}

.workout-card{
    background-image: linear-gradient( to bottom right, rgba(236, 33, 103, 1), rgba(244, 123, 40, 1));
}

.form-check-input {
    position: initial ;
    margin: 0 ;
}

.react-calendar {
    width: 100% !important;
}